{% render 'partials/head.liquid' %}

<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>


<main>
      
      <header>
        <h1>{{ person.name }}</h1>  
        <p>{{ person.birthdate | date: "%d-%m-%Y" }}</p>
        <p>Mijn haarkleur is {{ person.custom.haarkleur }}</p>
      </header>
  
      <div class="image-container">
        <img src="/matthijsfoto.JPG" alt="" width="200" height="300">
      </div>

      <p>{{ person.bio }}</p>

      <div class="wrapper">
        <div class="item top-left">18 Jaar
            <span class="extra-text-topleft">ik ben inderdaad 18 jaar</span>
        </div>
          <div class="item top-middle">Tennis / Volleybal
            <span class="extra-text-topmiddle">ik speel al een hele lange tijd tennis en volleyball</span>
        </div>
          <div class="item top-right">HAVO
            <span class="extra-text-topright">ik heb 5 jaar havo gedaan</span>
        </div>
          <div class="item bottom-left">Reizen
            <span class="extra-text-bottomleft">ik heb echt al heel veel gereisd en wil echt nog veel meer zien</span>
        </div>
          <div class="item bottom-right">Eigen bedrijf
            <span class="extra-text-bottomright">ik wil later graag een eigen bedrijf</span>
        </div>
      </div>
            
</main>

{% render 'partials/foot.liquid' %}
